/* .App {
  text-align: center;
  color: #306482;
} */

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}

.App-header {
    background-color: #222;
    /* height: 100px; */
    padding: 10px;
    text-align: center;
    color: white;
}

.App-header p {
    margin: 4px 0 0 0;
}

.App-title {
    font-size: 1.5em;
    margin: 10px;
}

.App-intro {
    font-size: large;
}

.App-main {
    margin: 0 10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* component styles */
main {
    padding: 0 20px;
}

h2 {
    margin: 20px 0 0 0;
}

.container {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* align-content: flex-start */
}

.container > div:first-of-type {
    margin-right: 20px;
}

/* label,
input,
button {
  display: block;
} */
label,
thead > td {
    font-variant: small-caps;
    font-size: 0.875rem;
    font-weight: bold;
    color: #666;
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 16px;
    margin-top: 2px;
    /* text-align: right; */
    letter-spacing: 1px;
}
.form-element {
    display: block;
    width: 230px;
    padding: 8px 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    /* margin-bottom: 16px; */
}
button {
    font-size: 1em;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    color: #333;
    font-variant: all-small-caps;
}
button:hover {
    background-color: #e5e5e5;
}
button:active {
    background-color: #ccc;
}
button:disabled {
    color: #777;
    background-color: #bbb;
}
table {
    margin-bottom: 20px;
}
thead td {
    border-bottom: 1px #aaaaaa solid;
    padding-right: 20px;
}
tbody td {
    font-size: 0.85em;
    padding: 4px 2px;
}

form button {
    float: right;
}

.red {
    color: red;
}
.error {
    border: 2px red solid;
}

@media screen and (min-width: 768px) {
    .container {
        justify-content: space-around;
        align-content: flex-start;
    }
}
